@model DatVe.Models.tb_HangGhe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <h2 style="text-align:center;">Thông tin</h2>
        <div>
            <h4>tb_HangGhe</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TenHangGhe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenHangGhe)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> |
            @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-secondary" })
        </div>
            }
        </div>
</div></div>