<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>

        <h2>Vui lòng kiểm tra lại ở phần Controller.</h2>
    </hgroup>
    @if (ViewData.ModelState.Count > 0)
    {
        <div class="alert alert-danger">
            <strong>Lỗi!</strong> @Html.ValidationSummary(false)
        </div>
    }
</body>
</html>
