@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/Client1/loadcss.css" />
<style>
    .gradient-custom {
        background: #6a11cb;
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .seat {
        width: 28px;
        height: 28px;
        margin: 2px;
        display: inline-block;
        background-color: #ccc;
        border: 1px solid #aaa;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        color: #333;
        text-decoration: auto;
    }
 

    .registration-form {
        text-align: left;
    }

        .registration-form label {
            display: block;
            margin-bottom: 5px;
        }

        .registration-form input,
        .registration-form select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .registration-form button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .registration-form button:hover {
                background-color: #45a049;
            }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<section class="h-100 gradient-custom">
    <span class="loader" id="loader"></span>
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h2 class="mb-0">Thông Tin Khách Hàng  </h2>
                    </div>
                    <div class="card-body" id="chuyenBayDataContainer" style="display: none;">
                        <div class="seat-container">
                            <div class="registration-form" >                              
                                @using (Html.BeginForm("DangKy", "Home", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label for="DX">Danh Xưng :</label>
                                        <select class="form-control" name="DX">
                                            <option>Ông</option>
                                            <option>Bà</option>
                                            <option>Cô/Chị</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="HoTen">Họ và tên:</label>
                                        <input type="text" name="HoTen" required />
                                        <h3 class="text-danger">@ViewData["err1"]</h3>
                                    </div>
                                    <div class="form-group" id="gioiTinh">
                                        <label for="GioiTinh">Giới Tính</label>
                                        <select class="form-control" name="GioiTinh">
                                            <option>Nam</option>
                                            <option>Nữ</option>                                      
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tuoi">Tuổi</label>
                                        <input type="number" name="Tuoi" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="Email">Email:</label>
                                        <input type="email" name="Email" required />
                                        <h3 class="text-danger">@ViewData["err2"]</h3>
                                    </div>
                                    <div class="form-group">
                                        <label for="SoDienThoai">Số điện thoại:</label>
                                        <input type="tel" name="SoDienThoai" required />
                                        <h3 class="text-danger">@ViewData["err4"]</h3>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit">Đăng ký</button>
                                    </div>
                                }
                            </div>
                            <script>
                                setTimeout(function () {
                                    var loader = document.getElementById("loader");
                                    var chuyenBayDataContainer = document.getElementById("chuyenBayDataContainer");
                                    loader.style.display = "none";
                                    chuyenBayDataContainer.style.display = "block";
                                }, 1000);
                                $(document).ready(function () {                                                           
                                    $('#DX').change(function () {                                      
                                        var danhXung = $(this).val();                                        
                                        if (danhXung === 'Cô/Chị' || danhXung === 'Bà') {
                                            $('#gioiTinh').val ="Nữ";
                                        } else {                                          
                                            $('#gioiTinh').val = "Nam";
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Action("GioHangPartial", "Home")
        </div>
    </div>
</section>
