<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Quản lý</li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/ChuyenBay" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-airplane"></i>              
                <span class="menu-title">Lịch bay</span>
                <i class="menu-arrow"></i>
            </a>         
                <div id="form-elements">
                    <ol class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/Admin/SanBay">Sân bay</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/MayBay">Máy bay</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/TuyenBay">Tuyến bay</a></li>
                    </ol>
                </div>          
                
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","User")" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-account-multiple-outline"></i>
                <span class="menu-title">Người dùng </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="@Url.Action("Index","ToBay")" aria-expanded="false" aria-controls="tables">
                <i class="menu-icon mdi mdi-airplane-takeoff"></i>
                <span class="menu-title">Tổ bay</span>
               
            </a>
        </li>
        <li class="nav-item nav-category">Hệ thống</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="@Url.Action("Logout","HomeAD")" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-logout-variant"></i>
                <span class="menu-title">Đăng Xuất</span>
                
            </a>
        </li>

    </ul>
</nav>
