<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Quản lý</li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-airplane"></i>
                <span class="menu-title">Lịch bay</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/Admin/ChuyenBay">Chuyến bay</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/SanBay">Sân bay</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/MayBay">Máy bay</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/TuyenBay">Tuyến bay</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/HangGhe">Hạng Ghế</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","DatVe")" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-ticket-confirmation"></i>
                <span class="menu-title">Vé máy bay </span>
            </a>
        </li>         
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements1" aria-expanded="false" aria-controls="form-elements1">
                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">Người dùng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/Admin/NhanVien">Nhân viên</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin/KhachHang">Khách Hàng</a></li>                        
                </ul>
            </div>
        </li>
       

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="@Url.Action("Index","ToBay")" aria-expanded="false" aria-controls="tables">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">Tổ bay</span>

            </a>
        </li>
        <li class="nav-item nav-category">Hệ thống</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="@Url.Action("Logout","HomeAD")" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-logout-variant"></i>
                <span class="menu-title">Đăng Xuất</span>

            </a>
        </li>

    </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
